$text_primary_color: white;
$nav_text_primary_color: #464646;
$highlight_primary_color: #0282F9;
$content_bg_color: #1C1C1C;
$social-bg-color: #303030;
$comic_title_color: #003F5E;
$status_available_color: #55BA59;
$price_highlight: #BAFD93;
$comic_specs_bg: #F6F6F6;
$comic_highlight_color: #00A9D9